node_modules
dist
build
coverage
.env
.env.local
.git
.gitignore
Dockerfile
docker-compose.override.yml

*/node_modules
*/dist
*/build

services/*/node_modules
services/*/dist

user-frontend/node_modules
user-frontend/dist

admin-frontend/node_modules
admin-frontend/dist

database/node_modules
database/generated